.Nav {
    display:flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;

}
.logo_container {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.logo_container p {
    text-align: center;
    display: inline-block;
    padding-top: 1rem;
}
.logo {
    width: 20%;
    height:20%;
    max-width:20% ;
    max-height: 20%;
}

.Nav_menu {
    display: flex;
    flex-direction: row;

}

.Nav_items {
    padding-left: 30px;
    text-align: center;
}

a, a:visited{
    color: inherit;
}

.nav_title_div {
    display: flex;
    align-items: baseline;
}

.nav_version {
    font-size: 10px;
    padding-left: 6px;
}