
body{
    display: block;
    background-color: #f5f5f5 ;
}

main{
    display:inline-block;
}

.root-container{
    padding-top: 3rem;;
}

.root-container .MuiBox-root{
    padding-top: 1.5rem;
}

:global .MuiContainer-root{
    display: block;
}
