
.header_description {
    padding-top: 80px;
} 
.header_description h4{
    font-size: 30px;
}

.header_title {
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 70px;
}

.header_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;

};


.stats{

    padding-top: 4rem;
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
}