
.drawer {
    display: flex;
    position: relative;
}
.drawer :global .MuiDrawer-root{
    position:absolute;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.drawer :global .MuiPaper-root {
    position: relative;
    background-color: white;
    width: 200px;
}

